################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhraseRanker/obj
/PhraseRanker/bin/Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/PhraseRanker/v15
*.suo

/UnityProject/PhraseRanker/Library/
/UnityProject/PhraseRanker/Temp/
/UnityProject/PhraseRanker/obj/Debug/
/UnityProject/PhraseRanker/UnityPackageManager/
/UnityProject/PhraseRanker/Assembly-CSharp.csproj
/UnityProject/PhraseRanker/PhraseRanker.csproj
/UnityProject/PhraseRanker/PhraseRanker.Editor.csproj
/UnityProject/PhraseRanker/PhraseRanker.Plugins.csproj
/UnityProject/PhraseRanker/PhraseRanker.sln
/UnityProject/PhraseRanker/Packages/
/UnityProject/PhraseRanker/.vs/
/PhraseRanker/.vs/PhraseFighter/v15/Server/sqlite3
